/*
 * cbFlowInformation 1.0.0
 * author： dongjingfeng
 * Time: 2017.5.15
 * description: 流程信息组件样式
 */
@charset "utf-8";
.cb-flow-information{
    background: #F5F5F5;
    color:#4C4C4C;
    font-size: 14px;
    line-height: 25px;
    padding:10px;
}
.cb-flow-information .flow-title{
    margin:0;
    vertical-align: middle;
}
.cb-flow-information .flow-icon{
    display:inline-block;
    width:14px;
    height:14px;
    /*background: url("../images/cb-flow-information/flow-show.png");*/
}
.cb-flow-information .flow-title-text{
    margin-left: 10px;

}
.cb-flow-information .flow-content {
    display: none;
}
.flow-err{
    color:red;
}