/*
 * cuform 1.0.0
 * author： anwenzhen
 * Time: 2017.4.12
 * description: 浮动面板
 */
@charset "utf-8";
.cb-floating-panel{
    width: 150px;
    /*padding: 10px;*/
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background: #FFF;
    position: absolute;
    top:60px;
    z-index: 99999;
    display: none;
}
.cb-floating-panel-blue{
    max-height: 221px;
    overflow: hidden;
    min-height: 112px;
    width: 150px;
    background: #FFF;
    position: absolute;
    z-index: 99999;
    display: none;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}