<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>面包屑导航组件</title>
    <!--  公共模块-->
    <script src="../plugins/jquery/jquery-1.10.1.min.js"></script>
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/api/common-event.js"></script>
    <script src="../scripts/api/common-listen.js"></script>
    <!-- 面包屑 -->
    <script src="../scripts/components/cb-breadcrumbs.js"></script>

</head>
<body>


<cb-breadcrumbs class="cb-breadcrumbs a1" listen={"breadcrumbsInfo":"breadcrumbsFunction"}
                data-options='{"cid":"asd","isTransverse":true,"isVertical":true,"padding":["0","0","0","20px"]}'></cb-breadcrumbs>

<script>

</script>
</body>

</html>
