<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主导航栏</title>
    <!--公共模块JS-->
    <script src="../plugins/jquery/jquery-1.10.1.min.js"></script>
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/api/common-event.js"></script>
    <script src="../scripts/api/common-listen.js"></script>
    <script src="../scripts/api/common-rule.js"></script>
    <script src="../plugins/mustache/mustache.min.js"></script>
    <script src="../scripts/api/common-template.js"></script>
    <!-- 主导航栏 -->
    <script src="../scripts/components/cb-text.js"></script>
    <script src="../scripts/components/cb-input.js"></script>
    <script src="../scripts/components/cb-select.js"></script>
    <script src="../scripts/components/cb-radio.js"></script>
    <script src="../scripts/components/cb-textarea.js"></script>
    <script src="../scripts/components/cb-checkbox.js"></script>
    <script src="../scripts/components/cb-form-base.js"></script>
</head>
<body>
<cb-form-base class="" regExp="required-必须输入姓名" data-options='{"item":"input","labelOptions":{"cid":"ssss","labelText":"aaa","type":"label"},
"itemComponentOptions":{"type":"","cid":"ssss","name":"goodLevel","placeholder":"请输入姓名"}}'></cb-form-base>
</body>
</html>