/*
 * cu-business-table 1.0.0
 * author： dongjingfeng
 * Time: 2017.5.16
 * description: 复杂表格组件样式。
 */


/*提示信息样式*/
.cb-business-table-div .cb-err-prompt{
    width:100%;
    min-height: 50px;
    line-height: 50px;
    margin:10px 0;
    padding-left: 100px;
    font-size: 14px;
    background: #cccccc;
    border-radius: 4px;
    text-align: left;
}

.cb-business-table-blue table{
    border: 1px solid #979ca8;
}

.cb-business-table-blue table thead th{
    background:#f0f0f0;
    border: 1px solid #979ca8;
    font-size: 14px;
    color:#4d4d4d;
    font-weight: bold;
    height: 48px;
    line-height: 46px;
    padding :0;
}
.cb-business-table-blue table tbody td{
    border-left: 1px solid #979ca8;
    border-right: 1px solid #979ca8;
    padding: 5px 10px;
    font-size: 12px;
    color:#666;
    line-height: 16px;
    position: relative;
}
.cb-business-table-blue  .fixed-table-body,.cb-business-table-blue  .fixed-table-height{
    float: none;
}


.cb-table-div tbody>tr:nth-child(odd){
    background: #fff;
}
.cb-table-div tbody>tr:nth-child(even){
    background: #f5f5f5;
}
.cb-table-div tbody>tr:hover{
    background:#e4eef7;
}
.cb-business-table-blue table tbody td input[type='radio']{
    display: none;
}
.cb-business-table-blue table tbody td input[type='radio']+label {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 50px;
    background: url("../../images/cb-table/icon-radio.png") no-repeat center;
    background-size: 16px;
    margin: -5px;

}
.cb-business-table-blue table tbody td input[type='radio']:checked+label:after {
    height: 16px;
    width: 50px;
    background: url("../../images/cb-table/icon-radio-active.png") no-repeat center;
    background-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.cb-business-table-blue table tbody tr:hover td input[type='radio']+label {
    height: 16px;
    width: 50px;
    background: url("../../images/cb-table/icon-radio-hover.png") no-repeat center ;
    background-size: 16px;
}

.cb-business-table-blue table tbody td input[type='checkbox'],.cb-business-table-blue table thead th input[type='checkbox']{
    display: none;
}
.cb-business-table-blue table tbody td input[type='checkbox']+label,.cb-business-table-blue table thead th input[type='checkbox']+label {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 50px;
    background: url("../../images/cb-table/icon-select.png") no-repeat center;
    background-size: 16px;
}
.cb-business-table-blue table tbody td input[type='checkbox']:checked+label:after,.cb-business-table-blue table thead th input[type='checkbox']:checked+label:after{
    height: 16px;
    width: 50px;
    background: url("../../images/cb-table/icon-select-active.png") no-repeat center;
    background-size: 16px;
    position: absolute;
    top:0;
    left: 0;
    content: '';
}
.cb-business-table-blue table tbody tr:hover td input[type='checkbox']+label {
    height: 16px;
    width: 50px;
    background: url("../../images/cb-table/icon-select-hover.png") no-repeat center;
    background-size: 16px;
}
.cb-business-table-blue table thead tr th:first-child{
    min-width: 50px;
}