/*
 * cuform 1.0.0
 * author： anwenzhen
 * Time: 2017.4.12
 * description: 文本输入框样式
 */
@charset "utf-8";
.cb-textarea-div{
    float: left;
    width: 50%;
}

.cb-textarea-div > textarea{
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    color:#666;
    padding: 3px 5px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 4px;
    resize: none;
    min-height: 62px;
}

.cb-textarea-div > textarea:focus{
    border: 1px solid #4ac9ff;
}

.cb-textarea-div >.textarea-remark{
    float: right;
    line-height: 16px;
    color:#fc5043;
}
