/*
 * CbLeftNav 1.0.0
 * author: liuqianwen
 * Time: 2017.08.08
 * description: 左侧边栏
 */
@charset "utf-8";
.cb-left-nav-div {
    width: 100%;
    background: #fafafa;
    height: 100%;
    overflow: auto;
}
.left-list-nav{
    display: none;
}

.left-list-nav>li>a{
    font-size: 14px;
    color:#333;
    display: inline-block;
    height: 50px;
    line-height: 20px;
    width: 100%;
    padding: 15px 20px 15px 50px;
    position: relative;
    font-weight: bold;
}
.left-list-nav>li>a:hover,.left-list-nav>li>a.active{
    border-left: 6px solid #fff;
    color: #666;
    padding-left: 44px;
}
.left-list-nav>li>a.is-parent:hover,.left-list-nav>li>a.is-parent.active{
    border-left: 6px solid #666;
    padding-left: 44px;
    color: #666;
    background-color: #e4eef7;
}
.left-list-nav>li>a:hover:before,.left-list-nav>li>a.active:before{
    left: 14px;
}
.left-list-nav>li ul{
    display: none;
}

.icon-yonghuguanli:before {
    position: absolute;
    top :15px;
    left: 20px;
    content: '';
    height: 20px;
    width: 20px;
    background: url("../../images/cb-left-nav/icon-yonghuguanli.png") no-repeat;
}
.icon-yonghuguanli:hover:before,.icon-yonghuguanli.active:before{
    background: url("../../images/cb-left-nav/icon-yonghuguanli-active.png") no-repeat;
}
.icon-quanxianguanli:before {
    position: absolute;
    top :15px;
    left: 20px;
    content: '';
    height: 20px;
    width: 20px;
    background: url("../../images/cb-left-nav/icon-quanxianguanli.png") no-repeat;
}
.icon-quanxianguanli:hover:before,.icon-quanxianguanli.active:before {
    background: url("../../images/cb-left-nav/icon-quanxianguanli-active.png") no-repeat;
}
.icon-zuhuguanli:before {
    position: absolute;
    top :15px;
    left: 20px;
    content: '';
    height: 20px;
    width: 20px;
    background: url("../../images/cb-left-nav/icon-zuhuguanli.png") no-repeat;
}
.icon-zuhuguanli:hover:before,.icon-zuhuguanli.active:before {
    background: url("../../images/cb-left-nav/icon-zuhuguanli-active.png") no-repeat;
}
.left-list-nav>li>.is-parent:after{
    position: absolute;
    top :21px;
    right: 20px;
    content: '';
    height: 8px;
    width: 14px;
    background: url("../../images/cb-left-nav/icon-arrow-down.png") no-repeat;
}
.left-list-nav>li>a.pack-up:after{
    background: url("../../images/cb-left-nav/icon-arrow-up.png") no-repeat;
}
.left-list-nav>li>ul li a{
    width: 100%;
    display: inline-block;
    height: 42px;
    padding: 14px 20px 14px 70px;
    line-height: 14px;
    font-size: 14px;
    color:#333;
}

.left-list-nav>li>ul li a:hover,.left-list-nav>li>ul li a.active{
    color: #666;
}
.left-list-nav-active{
    display: block;
}
.cb-left-nav-div .left-list-nav>li:first-child ul li:first-child {
    border-left: 6px solid #e2182d;
    background-color: #cecece;
    color: #666666;
}
.cb-left-nav-div .left-list-nav>li:first-child ul li:first-child>a {
    padding: 14px 20px 14px 23px;
    text-decoration: none;
    color: #666666;
}